{
  "trailingComma": "all",
  "tabWidth": 2,
  "useEditorConfig": true,
  "printWidth": 80,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "quoteProps": "consistent"
}
